
@{
    Layout = null;
}
@using bookworm.ViewModel;
@model DeleteBookViewModel
@using Microsoft.AspNetCore.Identity
@using bookworm.ViewModel;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User);

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/book-page.css" />
    <script src="https://kit.fontawesome.com/44489b1897.js" crossorigin="anonymous"></script>
    <script defer src="~/js/toggle.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer src="~/js/slider.js"></script>
    <script defer src="~/js/pop-up.js"></script>
</head>
<body>
    <div class="bg-container">
        <div class="bg-one"></div>
        <div class="bg-two"></div>
    </div>
    <div class="wrapper">
        @Html.Partial("_SideBar")

        <main class="main-content">
            <!-- Navbar -->
            @Html.Partial("_navbar", currentUser)
            <div class="book-info-container">
                <div class="head top-head">
                    <div class="book-img">
                        <img src="@Model.CoverImagePath" alt="" />
                    </div>
                    <div class="book-head-info">
                        <h1 class="title">@Model.Title</h1>
                        <p class="author-name">@Model.AuthorName</p>
                        <p class="price">@Model.Price</p>
                    </div>
                </div>
                <div class="body">
                    <div class="book-body-head">
                        <form asp-action="DeleteConfirmed" method="post">
                            <input name="id" value="@Model.Id" hidden />
                            <div class="call-to-action">
                                <button type="submit" class="btn btn-primary buy-button">
                                    <span> Delete </span>
                                    <i class="fa-solid fa-eraser"></i>
                                </button>
                            </div>
                        </form>
                        
                    </div>
                    <div class="book-body-container">
                        <div class="book-body-content">
                            <div class="body-description-cont">
                                <div class="head">
                                    <p>Description</p>
                                </div>
                                <div class="book-content-cont">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque adipisci temporibus quam labore! At error a eius voluptatibus debitis voluptates fugiat voluptas asperiores, quibusdam molestiae nulla nostrum soluta illo tenetur?
                                </div>
                            </div>
                            <div class="body-author-cont">
                                <div class="head">
                                    <p>Author</p>
                                </div>
                                <div class="book-content-cont">Goeorgeg</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_footer")

            <!-- Dialog Element -->
        </main>
    </div>

    <!-- Initialize Swiper -->
</body>
</html>
