@{
    Layout = null;
}
@using bookworm.ViewModel;
@using Microsoft.AspNetCore.Identity
@using bookworm.ViewModel;
@model EditBookViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var userFullName = currentUser.FullName;
    var userProfilePicturePath = currentUser.ProfilePicturePath;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/home.css" />

    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/account.css" />
    <link rel="stylesheet" href="~/css/createBook.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://kit.fontawesome.com/44489b1897.js" crossorigin="anonymous"></script>
    <script defer src="js/toggle.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer src="~/js/slider.js"></script>
    <script defer src="~/js/pop-up.js"></script>
    <script defer src="~/js/login.js"></script>
    <script defer src="~/js/createBook.js"></script>
</head>
<style></style>
<body>
    <div class="bg-container">
        <div class="bg-one"></div>
        <div class="bg-two"></div>
    </div>
    <div class="wrapper">
        @Html.Partial("_SideBar")

        <main class="main-content">
            <!-- Navbar -->
            @Html.Partial("_navbar",currentUser)
            <div class="content-container">
                <div class="right-container">
                    <div class="create-container">
                        <h2>Upload Book</h2>
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <input asp-for="BookId" value="@Model.BookId" hidden />
                            <input asp-for="AuthorId" value="@Model.AuthorId" hidden />

                            <div class="form-control">
                                <input asp-for="Title" class="login-detail" />
                                <label asp-for="Title"></label>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-control">
                                <input asp-for="Price" class="login-detail" value="" />
                                <label asp-for="Price" for=""></label>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-control">
                                <input asp-for="Language" class="login-detail" />
                                <label asp-for="Language"></label>
                                <span asp-validation-for="Language" class="text-danger"></span>
                            </div>
                            <div class="form-control">
                                <input asp-for="DatePublished" class="login-detail" type="datetime" value="" />
                                <label asp-for="DatePublished" for=""></label>
                                <span asp-validation-for="DatePublished" class="text-danger"></span>
                            </div>
                            <div class="form-control">
                                <input asp-for="Description" placeholder="Write the Description" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="catagory-container how-to-container" style="padding:3rem 0;">
                                <div class="categories-section">
                                    <p>Categories</p>
                                    <ul class="category-list">
                                        @foreach (var category in Model.Categories)
                                        {
                                            <li>
                                                <label class="category-item" for="@($"category-{category.Id}")">
                                                    <input type="radio" name="CategoryId" value="@category.Id" id="@($"category-{category.Id}")" hidden />
                                                    @category.Name
                                                </label>
                                            </li>
                                        }

                                        <span asp-validation-for="CategoryId" class="text-danger"></span>

                                        <!-- Add more categories as needed -->
                                    </ul>
                                </div>
                            </div>
                            <div class="file-drop-zone">
                                <label asp-for="CoverImage" for="bookImage" id="drop-image-area" class="drop-area">
                                    <input asp-for="CoverImage" id="bookImage" class="login-detail file-input" type="file" hidden />
                                    <div class="img-view" id="imgView">
                                        <i class="fa-regular fa-image"></i>
                                        <p>Drag and Drop Book Cover image</p>
                                    </div>
                                </label>
                                <span asp-validation-for="CoverImage" class="text-danger"></span>
                            </div>
                            <div class="file-drop-zone">
                                <label asp-for="EbookFile" for="bookFile" id="drop-file-area" class="drop-area">
                                    <input asp-for="EbookFile" id="bookFile" class="login-detail" type="file" hidden />
                                    <div class="img-view" id="fileView">
                                        <i class="fa-solid fa-upload"></i>
                                        <p>Drag and Drop Book File</p>
                                    </div>
                                </label>
                                <span asp-validation-for="EbookFile" class="text-danger"></span>
                                <div class="file-list"></div>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div>
                <div class="left-container">
                    <img src="~/images/illustration.png" alt="" class="illustration" />
                    <div class="how-to-container">
                        <div class="how-to-content">
                            <h2>How to Upload your Book</h2>
                            <ol class="steps">
                                <li>
                                    <p>1. Sign up / Log in</p>
                                    <i class="fa-regular fa-user"></i>
                                </li>
                                <li>
                                    <p>2. Add the Book details</p>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </li>
                                <li>
                                    <p>3. Upload the Cover image</p>
                                    <i class="fa-regular fa-image"></i>
                                </li>
                                <li>
                                    <p>4. Upload the Book file</p>
                                    <i class="fa-solid fa-book"></i>
                                </li>
                                <li>
                                    <p>5. Hit the Upload Button</p>
                                    <i class="fa-solid fa-upload"></i>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_footer")

            <!-- Dialog Element -->
        </main>
    </div>
    <!-- Initialize Swiper -->
</body>
</html>
